@media only screen and (max-width: 650px) {
  .profit-display {
    margin: 10px;
  }
  .profit-main-flex1 {
    display: flex;
    gap: 20px;
    background: linear-gradient(269.93deg, #06075b 0%, #0d1f43 95.93%);
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px 10px;
  }
  .profit-display-Stake-top-center {
    display: flex;
    justify-content: center;
  }
  .profit-display-Stake-top {
    background: linear-gradient(269.93deg, #06075b 0%, #0d1f43 95.93%);
    width: 80%;
    margin-top: 10px;
    border-radius: 5px;
  }
  .profit-display-Stake-top h3 {
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    padding: 5px;
  }
  .profit-main-flex2 {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 5px 10px;
  }
  .profit-main-flex1 h4 {
    font-size: 12px;
    color: #ffffff;
  }
  .profit-main-flex2 h4 {
    font-size: 12px;
    color: #05045d;
    margin-top: 5px;
    width: 100%;
  }
  .bet-date {
    padding-left: 20px;
  }
  .profit-main-btn button {
    color: #ffffff;
    background: #d21919;
    padding: 1px 10px;
    border-radius: 5px;
    border: none;
    font-size: 10px;
  }
  .profit-main-btn {
    margin-top: -3px;
  }
  .profit-main-btn2 button {
    color: #ffffff;
    background: #09ac19;
    padding: 1px 10px;
    border-radius: 5px;
    border: none;
    font-size: 10px;
  }
  .profit-main-btn2 {
    margin-top: -3px;
  }
}
